/* ===========================================================
   Main
   =========================================================== */
/* @author: Grzegorz Bielak - http://grzegorzbielak.pl */
/* ===========================================================
   Mixins
   =========================================================== */
/* -----------------------------------
   Font face
   ----------------------------------- */
/* -----------------------------------
   Transforms
   ----------------------------------- */
/* -----------------------------------
   Transition
   ----------------------------------- */
/* -----------------------------------
   Clearfix
   ----------------------------------- */
/* -----------------------------------
   Text options
   ----------------------------------- */
/* -----------------------------------
   Gradients
   ----------------------------------- */
/* -----------------------------------
   Helpers
   ----------------------------------- */
/* ===========================================================
   Utilities
   =========================================================== */
/* -----------------------------------
   Margins/paddings
   ----------------------------------- */
.u-m_top_10 {
  margin-top: 10px !important;
}
.u-m_top_20 {
  margin-top: 20px !important;
}
.u-m_top_40 {
  margin-top: 40px !important;
}
.u-m_top_60 {
  margin-top: 60px !important;
}
.u-m_top_100 {
  margin-top: 100px !important;
}
.u-m_bottom_10 {
  margin-bottom: 10px !important;
}
.u-m_bottom_20 {
  margin-bottom: 20px !important;
}
.u-m_bottom_40 {
  margin-bottom: 40px !important;
}
.u-m_bottom_60 {
  margin-bottom: 60px !important;
}
.u-m_bottom_100 {
  margin-bottom: 100px !important;
}
.u-p_top_10 {
  padding-top: 10px !important;
}
.u-p_top_20 {
  padding-top: 20px !important;
}
.u-p_top_40 {
  padding-top: 40px !important;
}
.u-p_top_60 {
  padding-top: 60px !important;
}
.u-p_top_100 {
  padding-top: 100px !important;
}
.u-p_bottom_10 {
  padding-bottom: 10px !important;
}
.u-p_bottom_20 {
  padding-bottom: 20px !important;
}
.u-p_bottom_40 {
  padding-bottom: 40px !important;
}
.u-p_bottom_60 {
  padding-bottom: 60px !important;
}
.u-p_bottom_100 {
  padding-bottom: 100px !important;
}
/* -----------------------------------
   Displays
   ----------------------------------- */
.u-d_block {
  display: block !important;
}
.u-d_inline_block {
  display: inline-block !important;
}
.u-d_none {
  display: none !important;
}
@media (min-width: 1025px) {
  .u-d--mobile_only {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .u-d--desktop_only {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .u-d--tablet_under {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .u-d--tablet_above {
    display: none !important;
  }
}
/* -----------------------------------
   Floatings
   ----------------------------------- */
.u-f_left {
  float: left !important;
}
.u-f_right {
  float: right !important;
}
/* -----------------------------------
   Clearfix
   ----------------------------------- */
.u-clearfix {
  *zoom: 1;
}
.u-clearfix:before,
.u-clearfix:after {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}
/* -----------------------------------
   Text options
   ----------------------------------- */
.u-t_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.u-t_no_text {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}
.u-t_center {
  text-align: center !important;
}
.u-t_left {
  text-align: left !important;
}
.u-t_right {
  text-align: right !important;
}
.u-u_select_none {
  user-select: none;
}
/* -----------------------------------
   Vertical aligments
   ----------------------------------- */
.u-a_top {
  vertical-align: top !important;
}
.u-a_middle {
  vertical-align: middle !important;
}
.u-a_bottom {
  vertical-align: bottom !important;
}
.u-a_baseline {
  vertical-align: baseline !important;
}
/* ===========================================================
   Variables
   =========================================================== */
/* -----------------------------------
   Colors
   ----------------------------------- */
/* -----------------------------------
   Fonts
   ----------------------------------- */
/* -----------------------------------
   RWD breakpints
   ----------------------------------- */
/* -----------------------------------
   UI settings
   ----------------------------------- */
/* ===========================================================
   Animation
   =========================================================== */
/* ===========================================================
   Normalize
   =========================================================== */
* {
  outline: none;
}
body {
  padding: 0;
  margin: 0;
}
pre {
  white-space: initial;
}
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
input,
select,
textarea {
  border: none;
  outline: none;
}
dd,
dt {
  margin: 0;
}
a,
button {
  border: none;
  outline: none;
  text-decoration: none;
  background-color: initial;
  padding: 0;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/* ===========================================================
   Icons
   =========================================================== */
@font-face {
}
.icon {
  font-size: 1.5rem;
  font-style: normal;
}
.icon--smooth {
  color: #e2e2e2;
}
.icon--light {
  color: #aaa;
}
.icon--white {
  color: #fff;
}
.icon--lg {
  font-size: 5rem;
}
.icon--md {
  font-size: 2rem;
}
.icon--shadowed {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
/* ===========================================================
   Layout
   =========================================================== */
html,
body {
  font: 400 62.5%/1.35 "Ubuntu", Arial, Helvetica, sans-serif;
  background: #2c2d31;
  color: #b6bfc9;
  height: 100%;
}
.l-page {
  position: relative;
  font-size: 1.5rem;
  min-height: 100%;
}
.l-page:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../imgs/bg.jpg");
  opacity: .2;
  filter: blur(20px);
}
.l-container {
  position: relative;
  width: 92%;
  margin: 0 auto;
  *zoom: 1;
}
.l-container:before,
.l-container:after {
  content: '';
  display: table;
}
.l-container:after {
  clear: both;
}
/* ===========================================================
   Grid
   =========================================================== */
.l-grid {
  *zoom: 1;
  /* -----------------------------------
     Types
     ----------------------------------- */
  /* -----------------------------------
     Gutter
     ----------------------------------- */
}
.l-grid:before,
.l-grid:after {
  content: '';
  display: table;
}
.l-grid:after {
  clear: both;
}
.l-grid__item {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 100%;
}
.l-grid__item--3of4 {
  width: 75%;
}
.l-grid__item--2of3 {
  width: 66.66%;
}
.l-grid__item--1of2 {
  width: 50%;
}
.l-grid__item--1of3 {
  width: 33.33%;
}
.l-grid__item--1of4 {
  width: 25%;
}
@media (min-width: 481px) {
  .l-grid__item--s_3of4 {
    width: 75%;
  }
  .l-grid__item--s_2of3 {
    width: 66.66%;
  }
  .l-grid__item--s_1of2 {
    width: 50%;
  }
  .l-grid__item--s_1of3 {
    width: 33.33%;
  }
  .l-grid__item--s_1of4 {
    width: 25%;
  }
}
@media (min-width: 641px) {
  .l-grid__item--m_3of4 {
    width: 75%;
  }
  .l-grid__item--m_2of3 {
    width: 66.66%;
  }
  .l-grid__item--m_1of2 {
    width: 50%;
  }
  .l-grid__item--m_1of3 {
    width: 33.33%;
  }
  .l-grid__item--m_1of4 {
    width: 25%;
  }
}
@media (min-width: 769px) {
  .l-grid__item--l_3of4 {
    width: 75%;
  }
  .l-grid__item--l_2of3 {
    width: 66.66%;
  }
  .l-grid__item--l_1of2 {
    width: 50%;
  }
  .l-grid__item--l_1of3 {
    width: 33.33%;
  }
  .l-grid__item--l_1of4 {
    width: 25%;
  }
}
@media (min-width: 1025px) {
  .l-grid__item--xl_3of4 {
    width: 75%;
  }
  .l-grid__item--xl_2of3 {
    width: 66.66%;
  }
  .l-grid__item--xl_1of2 {
    width: 50%;
  }
  .l-grid__item--xl_1of3 {
    width: 33.33%;
  }
  .l-grid__item--xl_1of4 {
    width: 25%;
  }
}
.l-grid--inline {
  margin-left: 4px;
}
.l-grid--inline .l-grid__item {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  float: none;
}
.l-grid--middle .l-grid-item {
  vertical-align: middle;
}
.l-grid--gutter {
  margin: -10px;
}
.l-grid--gutter .l-grid__item {
  padding: 10px;
}
/* ===========================================================
   Button
   =========================================================== */
.c-button {
  display: inline-block;
  padding: 0 27px;
  border-radius: 3px;
  height: 36px;
  line-height: 36px;
  padding-bottom: 2px;
  background-color: #229a9a;
  border: 2px solid #28b6b6;
  color: #fff;
  font: 500 1.5rem "Ubuntu", Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35), 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box;
  text-transform: uppercase;
}
@media (min-width: 1025px) {
  .c-button {
    transition: all 0.2s ease 0s;
  }
  .c-button:hover {
    background-color: #28b6b6;
  }
}
.c-button--cta {
  background-color: #973e54;
  border: 2px solid #af4861;
}
@media (min-width: 1025px) {
  .c-button--cta:hover {
    background-color: #af4861;
  }
}
.c-button--transparent {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.0666);
}
@media (min-width: 1025px) {
  .c-button--transparent:hover {
    background-color: rgba(255, 255, 255, 0.2166);
  }
}
/* ===========================================================
   Tooltip
   =========================================================== */
.c-tooltip {
  position: fixed;
  top: 10px;
  left: 0;
  width: 150px;
  height: 95vh;
  overflow: hidden;
  z-index: 25;
}
.c-tooltip__item {
  display: inline-block;
  margin: 2px 2px 2px 10px;
  padding: 6px 10px;
  background-color: #229a9a;
  color: #fff;
  border-radius: 3px;
  border: 2px solid #28b6b6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35), 0 2px 8px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.5s ease 0s;
  transform: translate3d(-100%, 0, 0) scale(0, 0);
}
.c-tooltip__item.is-active {
  transform: translate3d(0, 0, 0) scale(1, 1);
  opacity: 1;
}
/* ===========================================================
   Playground
   =========================================================== */
.s-playground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.s-playground__col {
  position: relative;
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
  overflow: hidden;
}
@media (orientation: landscape) {
  .s-playground__col {
    float: left;
    width: 50%;
    height: 100vh;
  }
}
.s-playground__actions {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  text-align: center;
  z-index: 10;
}
.s-playground__actions button {
  margin: 2px;
}
/* ===========================================================
   Battery
   =========================================================== */
.s-battery {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  /* -----------------------------------
     States
     ----------------------------------- */
}
.s-battery__element {
  position: relative;
  top: 7.2px;
  right: 7.2px;
  height: 28.8px;
  width: 72px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
}
.s-battery__element:after {
  content: "";
  position: absolute;
  width: 4px;
  left: 100%;
  margin-left: 2px;
  top: 50%;
  height: 50%;
  transform: translate(0, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.s-battery__element span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
}
.s-battery__progress {
  position: absolute;
  top: 2px;
  left: 2px;
  max-width: 64px;
  height: 20.8px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 0;
  transition: all 0.2s ease 0s;
}
.s-battery.is-low .s-battery__progress {
  background-color: rgba(237, 28, 36, 0.2);
}
.s-battery.is-medium .s-battery__progress {
  background-color: rgba(255, 212, 4, 0.2);
}
.s-battery.is-high .s-battery__progress {
  background-color: rgba(75, 173, 10, 0.2);
}
/* ===========================================================
   Camera
   =========================================================== */
.s-camera {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
  z-index: 1;
}
@media (orientation: landscape) {
  .s-camera {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 0;
    padding-bottom: 56.5%;
  }
}
.s-camera canvas {
  position: absolute;
  min-width: 100%;
  height: 100%;
}
@media (orientation: landscape) {
  .s-camera canvas {
    width: 100%;
  }
}
/* ===========================================================
   Control
   =========================================================== */
.s-control {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (orientation: landscape) {
  .s-control {
    bottom: auto;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.s-control__wrap {
  width: 50vw;
  max-width: 360px;
  height: 50vw;
  max-height: 360px;
  border-radius: 50vw;
  transform: rotate(45deg);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 0;
}
.s-control__wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #202124;
  margin: -4px;
  border-radius: 50%;
}
.s-control__item {
  position: relative;
  width: 50%;
  height: 50%;
  float: left;
  border: 2px solid #202124;
  background-color: #2c2d31;
  box-sizing: border-box;
  z-index: 2;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .s-control__item {
    transition: all 0.2s ease 0s;
  }
}
.s-control__item:hover,
.s-control__item:active {
  background-color: #26272a;
}
.s-control__item--front i {
  transform: rotate(-45deg);
}
.s-control__item--right i {
  transform: rotate(45deg);
}
.s-control__item--left i {
  transform: rotate(-135deg);
}
.s-control__item--back i {
  transform: rotate(135deg);
}
.s-control__item__content {
  transform: rotate(-45deg);
}
.s-control__item i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  margin: -3rem;
  color: #b6bfc9;
  pointer-events: none;
}
