/* ===========================================================
   Layout
   =========================================================== */
@import (reference) "../importer";

html,
body {
  font: 400 62.5%/1.35 @font-batman;
  background: @color-blue-dark;
  color: @color-blue-light;
  height: 100%;
}
.l-page {
  position: relative;
  font-size: 1.5rem;
  min-height: 100%;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../imgs/bg.jpg");
    opacity: .2;
    filter: blur(20px);
  }
}
.l-container {
  position: relative;
  width: 92%;
  // max-width: @rwd-breakpoint-xxl;
  margin: 0 auto;
  .clearfix();
}
